numpy==1.26.4
pandas==2.3.3
matplotlib==3.9.4
seaborn==0.13.2
jupyter==1.1.1
ipykernel==6.31.0
nbconvert==7.17.1
scikit-learn==1.6.1
catboost==1.2.8
torch==2.5.1
onnx==1.17.0
onnxruntime==1.19.2
fastapi==0.115.6
uvicorn==0.34.0
